node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# Logs
*.log

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
node_modules/
.env
