node_modules/
data/
*.log
.env

# Android
android/build/
android/app/build/
android/.gradle/
android/app/release/
android/app/debug/
android/local.properties
*.iml
.idea/
.DS_Store

# Capacitor
android/app/src/main/assets/public/
