modules = ["nodejs-20", "java-graalvm22.3", "python-3.11", "postgresql-16"]
[agent]
expertMode = true
integrations = [
  "javascript_database:1.0.0",
  "javascript_openai_ai_integrations:1.0.0",
  "stripe:1.0.0",
]

[nix]
channel = "stable-25_05"
packages = ["chromium"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Kenostod Blockchain Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Kings Shield Website"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Kings Shield Community Bot"

[[workflows.workflow]]
name = "Kenostod Blockchain Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 5000

[[workflows.workflow]]
name = "Kings Shield Website"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node kings-shield/website/server.js"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Kings Shield Community Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node kings-shield/community-bot.js"

[workflows.workflow.metadata]
outputType = "console"


[deployment]
deploymentTarget = "autoscale"
run = ["node", "server.js"]
build = ["npm", "run", "build"]
publicDir = "public"

[userenv]

[userenv.shared]
RENDER_SERVICE_ID = "srv-d6q4k1p4tr6s73aev95g"
NEW_WALLET_PRIVATE_KEY = "d2165efe427aa33fdf2593b113736bc8a2b77f333333dac5ed86b8e2229601f1"
NPM_ACCESS_TOKEN = "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"
FAL_ALERT_CHAT_ID = "6715306356"
SHIELD_MINT_AUTHORITY_PUBKEY = "FTjM3ocrUSC9mpHWNsMLEbwuCFryr8DxwdwbHtEiP4De"
SHIELD_TOTAL_SUPPLY = "6174000000"
SHIELD_CLUSTER = "mainnet"
WALLET_PRIVATE_KEY = "c5b7055677f65f54ee4df70a2269f8ef87ff75fbbbbf7536ba1b548a8bb88acf"
SHIELD_BOT_ADDRESS = "CLgn5H6j3QhD9HnJgKFcfnymg5BCuC41K7Ze7SmTjzVr"
FOUNDER_SEAL = "7329d6812a001119e538541ed135f172"
SOLANA_NETWORK = "mainnet"
SOLANA_RPC_MAINNET = "https://api.mainnet-beta.solana.com"
QCT_DEPLOYER_KEY = "c5b7055677f65f54ee4df70a2269f8ef87ff75fbbbbf7536ba1b548a8bb88acf"
REPLIT_KEY = "rnd_vVlRYnGpGjucddjUrwEbmr4QSoQe"
BOT_WALLET_PRIVATE_KEY = "c5b7055677f65f54ee4df70a2269f8ef87ff75fbbbbf7536ba1b548a8bb88acf"
COMMUNITY_CHAT_ID = "-5185629419"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 23636
externalPort = 3000

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 60000
